<div id="map_canvas" style="width:100%; height:900px"></div>

<div id="content"  class="wrapper">
  
  <h1>Incidencias en la <%=@line.name%> <%=line_status @line%></h1>

  <ul>
  <%@line.incidents.each do |incident|%>
    <li><%=incident.comment%>. <%=incident.date%>. 
  	<%unless incident.user.blank?%>
  		Por <a href ="http://twitter.com/<%=incident.user%>/status/<%=incident.twitter_id%>" target="_blank">@<%=incident.user%></a></li>	
  	<%end%>
  <%end%>
  </ul>
  
</div><!-- content -->


<% content_for :js_includes do %>
  <script type="text/javascript" charset="utf-8">
  $(document).ready(function() {

  	if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map_canvas"));
        map.setCenter(new GLatLng(40.4166909, -3.7003454), 13);
        map.addControl(new GSmallMapControl());
        <%=incident_markers @line.incidents%>
        <%=create_map_line @line%>
      }
  });

  </script>
<% end %>