<%= auto_discovery_link_tag(:atom, {:action => "show", :format => :atom}, 
 {:title => "Atom Feed"}) %>

<script>
$(document).ready(function() {

	if (GBrowserIsCompatible()) {
      var map = new GMap2(document.getElementById("map_canvas"));
      map.setCenter(new GLatLng(40.4166909, -3.7003454), 13);
      map.addControl(new GSmallMapControl());
      <%=incident_markers @line.incidents%>

      <%=create_map_line @line%>
    }
});

</script>


<h1>Incidencias en la <%=@line.name%></h1>

<div id="map_canvas" style="width:960px; height:500px"></div>

<ul>
<%@line.incidents.each do |incident|%>
  <li><%=incident.comment%>. <%=incident.date%>. 
	<%unless incident.user.blank?%>
		Por <a href ="http://twitter.com/<%=incident.user%>/status/<%=incident.twitter_id%>" target="_blank">@<%=incident.user%></a></li>	
	<%end%>
<%end%>
</ul>