<div id="map_canvas" style="width:100%; height:900px"></div>

<div id="content"  class="wrapper line_show">
  <%=line_status @line%>
  
  <h2><strong><%=@line.name%>:</strong> <%=@line.stations.find(:first).name%> - <%=@line.stations.find(:last).name%></h2>
  <ul class="line_stations">
    <%@line.stations.each do |station|%><li><p><%= station.name %></p></li><%end%>
  </ul>

  <ul id="last_incidents">
  <%@line.incidents.each do |incident|%>
    <li>
      <p>
      <%=link_to "#{incident.line.number}", incident.line, :class => "line_number line_"+incident.line.number %>
		  Estación de <strong><%=incident.station.name%></strong> -
		  <span><%=l(incident.date, :format => 'long')%>.</span> -
		  <%=incident.comment%> 
		  <%unless incident.user.blank?%>
			  Por <a href ="http://twitter.com/<%=incident.user%>/status/<%=incident.twitter_id%>" target="_blank">@<%=incident.user%></a>
		  <%end%>	
		  </p>
		</li>
  <%end%>
  </ul>
  
</div><!-- content -->


<% content_for :js_includes do %>
  <script type="text/javascript" charset="utf-8">
  $(document).ready(function() {

  	if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map_canvas"));
        map.setCenter(new GLatLng(40.4166909, -3.7003454), 13);
        map.addControl(new GSmallMapControl());
        <%= incident_markers_grouped_by_station @line.incidents %>
        <%= create_map_line @line%>
      }
  });

  </script>
<% end %>