

<div id="content"  class="wrapper line_show">
  <%=line_status @line%>
  
  <h2><strong><%=@line.name%>:</strong> <%=@line.stations.find(:first).name%> - <%=@line.stations.find(:last).name%></h2>
  <ul class="line_stations">
    <%@line.stations.each do |station|%><li class="<%= station_status(station,@line)%>"><p><%= station.name %></p></li><%end%>
  </ul>
  <%if @line.incidents.last_incidents.size > 0%>
  	<h3>Últimas incidencias</h3>
  	<%= render :partial => 'incidents/last_incidents' %>
  <%else%>
	<h3>No hay incidencias en esta línea</h3>
  <%end%>
 
  
</div><!-- content -->


<% content_for :js_includes do %>
  <script type="text/javascript" charset="utf-8">
  $(document).ready(function() {

  	if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map_canvas"));
        map.setCenter(new GLatLng(<%=@line.center_lat%>, <%=@line.center_long%>), <%=@line.zoom%>);
        map.addControl(new GSmallMapControl());
        <%= incident_markers_grouped_by_station Incident.last_incidents.by_line @line %>
        <%= create_map_line @line%>
      }
  });

  </script>
<% end %>