<%form_for(Incident.new) do |f|%>
  <h2>Nueva incidencia</h2>
  <p class="tag_line">Desde aquí puedes añadir incidencias para mantener actualizado el estado de circulación de las líneas de metro. También puedes enviarlas desde <a href="http://twitter.com">twitter</a>, mira <a href="/about">como funciona</a>.</p>
  <span class="validation_msg" style="display:none;"></span><!-- .validation_msg -->
  
  <p>
    <%= f.label :comment, "¿Qué pasa?"%>
   <%=f.select :comment, IncidentTemplate.find(:all).collect {|t| [t.comment, t.comment]}%>
   
  </p>
  <p class="line">
  	<%= f.label :line_id, "¿En qué linea?"%>
    	<%=f.select :line_id, Line.find(:all).collect {|l| [l.name, l.id]}%>
  </p>
  <p id="station">
    <%= f.label :station_id ,"¿En qué estación?"%>
    <%=f.select :station_id, Station.by_line(1).collect {|l| [l.name, l.id]}%>
  </p>
  
  <p class="direction">
    <label>¿En qué sentido?</label>
    <span>
      <input type="radio" name="incident[direction_id]" value="<%=Station.by_line(1).first.id%>" id="start_station"/> <label for="start_station"><%=Station.by_line(1).first.name%></label>
    </span>
    
    <span>
      <input type="radio" name="incident[direction_id]" value="Station.by_line(1).last.id" id="end_station"/> <label for="end_station"><%=Station.by_line(1).last.name%></label>
    </span>

    <span>
      <input type="radio" name="incident[direction_id]" value="0" id="both_stations"/> <label for="both_stations">En ambos</label>
    </span>

  </p>
  
  <button type="submit">Compártelo!!</button>  
<%end%>