<div id="header">
  
  <div>
    <a href="/">Metroroto</a>
    <h1>Conoce las incidencias del Metro de Madrid</h1>
  </div>
  
  <ul>
    <li><a href="<%=root_path%>#content">Incidencias (<%=Incident.last_incidents.size%>)</a></li>
    <li class="lines">
      <a href="#">Lineas</a>
      <ul>
	  <% @lines.each do |line|%>
        <li><a href="<%=line_path line%>"> <span class="line_number line_<%=line.number%>"><%= line.number%></span>Linea <%= line.number%></a></li>
	  <% end %>
      </ul>
    </li>
    <li><a href="<%=root_path%>about">¿Cómo se usa?</a></li>
  </ul>
</div><!-- .header -->