<%= auto_discovery_link_tag(:atom, {:action => "index", :format => :atom}, 
 {:title => "Atom Feed"}) %>

<script>
$(document).ready(function() {

	if (GBrowserIsCompatible()) {
      var map = new GMap2(document.getElementById("map_canvas"));
      map.setCenter(new GLatLng(40.4166909, -3.7003454), 13);
      map.addControl(new GSmallMapControl());
      <%=incident_markers @incidents%>

	var polyline = new GPolyline([
	    new GLatLng(40.407, -3.71105),
	    new GLatLng(40.3888, -3.73982)
	], "#FF0000", 5);
	map.addOverlay(polyline);

	//Create new Tile Layer
	  var gTileUrlTemplate = 'http://mt1.google.com/vt/lyrs=m@121,transit|vm:1&hl=en&opts=r&x={X}&y={Y}&z={Z}';
	  var tileLayerOverlay = new GTileLayerOverlay(
	    new GTileLayer(null, null, null, {
	      tileUrlTemplate: gTileUrlTemplate,
	      isPng:true,
	      opacity:0.8
	    })
	  );
	  map.addOverlay(tileLayerOverlay);
    }
});

</script>



<h1><a href="/">Metroroto</a></h1>
<div id="report">
	<ul>
	<li><a href="#new_incident">Reportar incidencia</a></li>
	<li><a href="#last_incidents">Últimas incidencias</a></li>
	</ul>
</div>
 <div id="map_canvas" style="width:960px; height:500px"></div>

<h2>Últimas incidencias</h2>
<ul id="last_incidents">
  <%@incidents.each do |incident|%>
    <li><%=l(incident.date, :format => 'long')%> - <%=link_to "Línea #{incident.line.number}", incident.line, :class => "line"%>. 
		Estación de <strong><%=incident.station.name%></strong>. <%=incident.comment%>. 
		<%unless incident.user.blank?%>
			Por <a href ="http://twitter.com/<%=incident.user%>/status/<%=incident.twitter_id%>"
				target="_blank">@<%=incident.user%></a></li>
		<%end%>	
  <%end%>
</ul>

<h2>Nueva incidencia</h2>
<%form_for(Incident.new) do |f|%>
	<p>
	  <%= f.label :comment, "¿Qué pasa?"%><br>
	 <%=f.text_field :comment%>
	</p>
	<p>
		<%= f.label :line_id, "¿En qué linea?"%><br>
	  	<%=f.select :line_id, Line.find(:all).collect {|l| [l.name, l.id]}%>
	</p>
	<p id="station">
	  <%= f.label :station_id ,"¿En qué estación?"%><br>
	  <%=f.select :station_id, Station.by_line(1).collect {|l| [l.name, l.id]}%>
	</p>
		<button type="submit">Compártelo!!</button>


<% content_for :js_inside_script do %>

 $('select#incident_line_id').change(function(){
   $.getJSON("lines/"+ $(this).val() +"/stations", function(j){
      var options = '';
      for (var i = 0; i < j.length; i++) {
        options += '<option value="' + j[i][1] + '">' + j[i][0] + '</option>';
      }
      $("select#incident_station_id'").html(options);
    })
 });

<% end %>
<%end%>

