<script>
$(document).ready(function() { 

	if (GBrowserIsCompatible()) {
      var map = new GMap2(document.getElementById("map_canvas"));
      map.setCenter(new GLatLng(40.4166909, -3.7003454), 13);
      map.addControl(new GSmallMapControl());
      <%=incident_markers @incidents%>      

	//Create new Tile Layer
	  var gTileUrlTemplate = 'http://mt1.google.com/vt/lyrs=m@121,transit|vm:1&hl=en&opts=r&x={X}&y={Y}&z={Z}';
	  var tileLayerOverlay = new GTileLayerOverlay(
	    new GTileLayer(null, null, null, {
	      tileUrlTemplate: gTileUrlTemplate,
	      isPng:true,
	      opacity:0.8
	    })
	  );
	  map.addOverlay(tileLayerOverlay);
    }   
});

</script>

<h1>Metroroto</h1>
 <div id="map_canvas" style="width:800px; height:500px"></div>

<h2>Últimas incidencias</h2>
<ul>
  <%@incidents.each do |incident|%> 
    <li><%=link_to "Línea #{incident.line.number}", incident.line%>. Estación de <%=incident.station%>. <%=incident.comment%>. <%=incident.date%></li>	
  <%end%>	
</ul>

<h2>Nueva incidencia</h2>
<%form_for(Incident.new) do |f|%>
	<div>
	  Está pasando <%=f.text_field :comment%>
	</div>		
	<div>
	  En la <%=f.select :line_id, Line.find(:all).collect {|l| [l.name, l.id]}%> 
	</div>
	<div>
	  En la estación de <%=f.text_field :station %>
	</div>
	<div>
	  <%=f.submit "Compártelo!!"%>	
	</div>	
<%end%>


